@page "/"

<h1>Blazor interoperate with Idd</h1>

You can find some examples on other pages. <br />

This project Git page: <a href="https://github.com/EgorovIlia/Blazor_Idd"> https://github.com/EgorovIlia/Blazor_Idd </a>
<br />
<br />
JSRuntime.InvokeAsync method used in Blazor to interoperate with Interactive Data Display for JavaScript 
(<a href="https://github.com/predictionmachines/interactivedatadisplay">https://github.com/predictionmachines/interactivedatadisplay</a>).<br/>
<br />
JsFunctions.interop function interprets an input string and converts arguments to call IDD functions in javascript.
