@page "/interop"
@inject IJSRuntime JSRuntime
@using System
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq


<div id="chart" data-idd-plot="chart" style="width: auto; height: 600px; margin-top: 20px;">
</div>

@functions {
    [Parameter]
    private string FunctionString { get; set; } = null;

    protected override async Task OnInitAsync()
    {
        await Task.Delay(1); //need some task to be executed before CallJS(), otherwise CallJS stuck. Have no idea why that happens
        await CallJS();
    }

    private async Task CallJS()
    {

        try
        {
            if (await JSRuntime.InvokeAsync<bool>("JsFunctions.interop", FunctionString))
            {
                Console.WriteLine("JS successfully called");
            }
        }
        catch (Exception)
        {

        }
    }
}
